.App {
  margin: auto;
  text-align: center;
  width: 55em;
}

.cardSetup {
  display: flex;
  justify-content: space-between;
  width: 55em;
}

.reactionTime {
  margin-top: 2em;
}

.reactionTime > input {
  margin: 1em;
}

.startButton {
  background-color: #008CBA;
  font-size: 16px;
  padding: 10px 32px;
  color: white;
  margin: 1em;
  border-radius: 0.5em;
}

.snapHeader {
  display: flex;
  margin: auto;
  justify-content: center;
}

.cardContainer {
  width: 15em;
  height: 22em;
  border: 1px solid darkgray;
  border-radius: 1em;
}

@media (max-width: 760px) {
  .App {
    width: 100%;
    height: 100%;
  }

  .cardSetup {
    width: 100vw;
    height: 60vh;
  }

  .cardContainer {
    width: 20vw;
    height: 50vh;
  }

  .reactionTime {
    margin-top: 2vh;
  }

  .reactionTime > input {
    margin: 1vw;
  }

  .startButton {
    padding: 2vh 2vw;
    margin: 2vw;
    border-radius: 2vw;
  }

  .footerContents {
    display: flex;
    margin-top: 10vh;
    margin-left: 10vw;
  }
}
