.App {
  margin: auto;
  text-align: center;
  width: 55em;
}

.cardSetup {
  display: flex;
  justify-content: space-between;
  width: 55em;
}

.reactionTime {
  margin-top: 2em;
}

.reactionTime > input {
  margin: 1em;
}

.startButton {
  background-color: #008CBA;
  font-size: 16px;
  padding: 10px 32px;
  color: white;
  margin: 1em;
}

.snapHeader {
  display: flex;
  margin: auto;
  justify-content: center;
}