.App {
  margin: auto;
  text-align: center;
  width: 55em;
}

.CardSetup {
  display: flex;
  justify-content: space-between;
  width: 55em;
}

.ReactionTime {
  margin-top: 2em;
}

.ReactionTime > input {
  margin: 1em;
}

.StartButton {
  background-color: #008CBA;
  font-size: 16px;
  padding: 10px 32px;
  color: white;
  margin: 1em;
}