@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.AnimateHasTurn {
  animation: fadeInAnimation 1s infinite;
}

.hiddenCardContainer {
  padding: 2em;
}

.playerHeader {
  display: flex;
  justify-content: center;
}
