
.hiddenCardContainer {
  padding: 2em;
}

.playerHeader {
  display: flex;
  justify-content: center;
}

.playerStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20em;
}
