.hiddenCardContainer {
  padding: 2em;
}

.playerHeader {
  display: flex;
  justify-content: center;
}

.playerStatus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiddenCardStack {
  margin-top: 2em;
  background-color: cornflowerblue;
  position: relative;
}

.playerStatus {
  position: absolute;
}

.playerStatus:nth-child(1) {
  padding-left: 1em;
  top: 0;
  left: 0;
}

.playerStatus:nth-child(2) {
  padding-right: 3em;
  top: 0;
  right: 0;
}

@media (max-width: 760px) {
  .hiddenCardContainer {
    padding: 0vh 10vw;
  }
}